@import "config";

.brackets {
    width: 350px;
    display: block;

    @media(max-width: 600px) {
        width: 60vw;
    }

    .path {
        stroke-dasharray: 3780;
        opacity: 10;
        animation: dash 5s ease-in-out both;
    }



    @keyframes dash {
        0% {
            opacity: 0;
            fill: none;
            stroke-dashoffset: 3780;
        }

        100% {
            opacity: 10;
            stroke-dashoffset: 0;
        }
    }
}