//Widescreens
// @include mediaXl {
//     .projects {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

//Desktops & Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

//Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 65vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 154%;

        .nav-link {
            font-size: 20px;
        }
    }

    .menu-branding {
        height: 35vh;
        transform: translate3d(100%, 0, 0);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: auto 285%;

        .portrait {
            width: 150px;
            height: 150px;
            background-position: center 10px, center;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio';
        grid-template-columns: 1fr;

        .bio {
            margin-left: 0;
        }
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include iPad {
    .menu-branding {
        .portrait {
            width: 230px;
            height: 230px;
        }
    }


    main {
        padding: 20px 50px 0 50px;
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio';
        grid-template-columns: 1fr;

        img {
            height: 20vh;
            margin-bottom: 2rem;
        }

        .bio p {
            text-align: justify;
            text-align-last: center;
            line-height: 180%;
            font-size: 1.7rem;
        }

    }


}

//Smartphones
@include mediaSm {
    .home-info {
        margin-top: 4rem;
    }

    .about-info {
        padding-top: 1rem;
    }

    .bio {
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }



    main#work {
        h1 {
            margin-top: 10vh;
        }
    }

    .projects {
        padding-top: 2rem;
        grid-template-columns: 1fr;

    }
}